@model IEnumerable<Office_Management.Models.CallType>
@{
    ViewBag.Title = "CreateCallType";
}
<h2>CreateCallType</h2>

<form action="" method="POST">
     Call Type: <input class="form-control" type="text" name="CallTypeName" required="">
    <br />
    <input class="btn btn-info" type="submit" value="Submit">
</form>

